<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="fsm"
            description="fsml"
            language="fsml"
            derivedFrom="DynamicRoot"
            validator="spoofaxfsml.FsmlValidator"
            validatorClass="spoofaxfsml.FsmlValidator"
      ></language>
   </extension>
   <extension
         id="spoofaxfsml.parser"
         name="fsml Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="spoofaxfsml.FsmlParseController"
            language="fsml">
      </parser>
   </extension>    
</plugin>
