<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="fsml"
            description="FSML"
            language="FSML"
            derivedFrom="DynamicRoot"
            validator="spoofaxfsml.FSMLValidator"
            validatorClass="spoofaxfsml.FSMLValidator"
      ></language>
   </extension>
   <extension
         id="spoofaxfsml.parser"
         name="FSML Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="spoofaxfsml.FSMLParseController"
            language="FSML">
      </parser>
   </extension>    
</plugin>
